#include "resource.h"

TEKISUTO_MENUBAR MENU {
  POPUP "ファイル (&F)" {
    MENUITEM "開く (&O)", MENUBAR_FILE_OPEN
    MENUITEM SEPARATOR
    MENUITEM "設定", MENUBAR_FILE_OPTIONS
    MENUITEM "終了", MENUBAR_FILE_EXIT
  }
  
  POPUP "デバッグ" {
    MENUITEM "New Context", MENUBAR_DEBUG_NEW_CONTEXT
  }
}